node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Foundry
forge-artifacts
cache/solidity-files-cache.json
cache/forge-*
.gas-snapshot
/broadcast
/out
/lib/forge-std

output/

.env.*

.infisical.json

# Yarn v4
.yarn/*
.pnp.*